* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Unbounded', cursive;
}
body {
    height: auto;
}
#container {
    background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/white-silhouette-of-world-map-alberto-ruiz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 120%;
    width: 100%;    
    padding-bottom: 200px;
}
#container h1 {
    text-align: center;
    margin-top: 4%;
    font-size: 2em;
    font-family: 'Unbounded', cursive;
}
.flex-top {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 4%;
}
.flex-top h2 {
    color: #7D88CF;
    font-size: 2.1em;
}
.flex-top p{
    font-weight: 300;    
}
.cards {    
    text-align: center;
    margin-top: 6%;
    display: flex;
    justify-content: space-around;
    
}
.card {
    box-shadow: 0px 0px 5px 1px rgb(113, 113, 113);
    width: 25%;      
    border-radius: 2.5%;
}
.card1 {
    background: linear-gradient(
    to top,
    #FAEAE5 0%,
    #FAEAE5 50%,
    white 50%,
    white 100%);
}
.card2 {
    background: linear-gradient(
        to top,
        #5C6AC4 0%,
        #5C6AC4 50%,
        white 50%,
        white 100%);
        margin-top: 100px;
        margin-bottom: -100px;
}
.card3 {
    background: linear-gradient(
        to top,
        #47C1BF 0%,
        #47C1BF 50%,
        white 50%,
        white 100%);
}
.card p {
    padding: 1em;
    
}
.card img {
    border-radius: 50%;
    height: 5em;  
    
}
.card-bottom {
    padding-top: 0.5em;
    height: 6em;  
    color: white;
    font-family: 'Roboto Serif', serif !important;
    text-shadow: 0 0 3px black;
    letter-spacing: 1px;
}
.card-bottom h3 {
    padding-top: 0.5em;
}

 