.container {

    justify-content: space-around;
    align-items: center;
    margin: 10 auto;
}

.resume {
    max-width: 800px;
    padding-left: 30px;
    font-family: 'Satisfy', cursive;
}

h1 {
    font-size: 5px;
}

.first {
    display: flex;
    justify-content: flex-start
}

.border {
    height: 369px;
    width: 290px;
    background: transparent;
    border-radius: 10px;
    transition: border 1s;
    position: relative;
}

.border:hover {
    border: 1px solid white;
}

.border2 {
    border-radius: 10px 10px 0px 0px;
    transition: border 1s;
    position: relative;
    border: 1px solid white;
    margin: 10px 10px -1px 10px;
}

.card {
    height: 379px;
    width: 300px;
    background: grey;
    border-radius: 10px;
    transition: background 0.8s;
    background: black;
    box-shadow: 0 70px 63px -60px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card0 {
    background: url('https://i.pinimg.com/736x/8f/a0/51/8fa051251f5ac2d0b756027089fbffde--terry-o-neill-al-pacino.jpg') center center no-repeat;
    background-size: 300px;
}



.card0:hover {
    background: url('https://i.pinimg.com/736x/8f/a0/51/8fa051251f5ac2d0b756027089fbffde--terry-o-neill-al-pacino.jpg') left center no-repeat;
    background-size: 600px;
}

.card0:hover h2 {
    opacity: 1;
    color: #fff;
}

.card0:hover .fa {
    opacity: 1;

}


h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    margin: 20px;
    opacity: 0;
    transition: opacity 1s;
}

.fa {
    opacity: 0;
    transition: opacity 1s;
}


.icons {
    position: absolute;
    fill: #fff;
    color: #fff;
    height: 130px;
    top: 226px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.bio {
    background-image: url(https://mcdn.wallpapersafari.com/medium/39/22/F8qvR9.jpg);
    background-size: 1600px;
    background-repeat: repeat-x;
    border: 1px solid white;
    border-radius: 10px;    
    font-family: 'Yeseva One', cursive;
    transition: all 2s ease;
}

.bio:hover {
    background-image: url(https://mcdn.wallpapersafari.com/medium/39/22/F8qvR9.jpg) left center no-repeat;
    opacity: 1;    
    background-size: 3000px;
    font-family: 'Yeseva One', cursive;
}

a {
    text-decoration: none;
}


p {
    opacity: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

p:hover {
    opacity: 1;
    transition: 2s;
    color: rgb(255, 255, 255);
}

.fa-instagram {
    color: white;
    text-decoration: none;
    transition: 0.8s;
}

.fa-instagram:hover {
    color: #833ab4;
    transition: 0.4s;
    font-size: 32px;
}

.fa-twitter {
    color: white;
    text-decoration: none;
    transition: 0.8s;
}

.fa-twitter:hover {
    color: #1DA1F2;
    
    font-size: 32px;
}

.fa-facebook {
    color: white;
    text-decoration: none;
    transition: 0.8s;
}

.fa-facebook:hover {
    color: #3b5998;
    
    font-size: 32px;
}

.navbar { 
    margin-bottom: 0 !important;
    padding-left: 20% !important;
    
  top: 0;
  width: 100%;
}

