nav {
    background-color: black;
    color: white;
    height: 100px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin: 50px;
    
}

.topnav {
    text-align: right;
    justify-content: right;
    padding: auto;
    
}

.pad    {
    padding-top: 10px;
}

.topnav > img {
    text-align: left !important;
    
}